*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
.entry{
 text-align: center;
 background-color: #358597;
 height: 100vh;
 color: #f4a896;
 font-family: 'Bitter', serif;
 position: relative;
 animation-name: entry;
 animation-duration: 2s;
 animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
@keyframes entry {
 0%{top:-3000px;}
 100%{top: 0px;}
}
h1{
 font-size: 70px;
 padding-top: 100px;
 text-transform: uppercase;
 opacity: 0;
 position: relative;
 animation-name: school_name;
 animation-duration: 2s;
 animation-delay: 2s;
 animation-fill-mode: forwards;
 transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 0.075);
}
@keyframes school_name {
 0%{opacity: 0; top:-200px;}
 100%{opacity: 1; top: 0px;}
}
h2{
 font-size: 35px;
 text-transform: capitalize;
 opacity: 0;
 position: relative;
 animation-name: test_name;
 animation-duration: 2s;
 animation-delay: 4s;
 animation-fill-mode: forwards;
 transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 0.075);
}
@keyframes test_name {
 0%{opacity: 0; top:-60px;}
 100%{opacity: 1; top: 0px;}
}
p{
 font-size: 20px;
 padding-top: 25px;
}
.p_one{
 opacity: 0;
 position: relative;
 animation-duration: .5s;
 animation-delay: 6s;
 animation-name: p_one;
 animation-fill-mode: forwards;
 animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
}
@keyframes p_one {
 0%{opacity: 0;}
 50%{opacity: 0;}
 100%{opacity: 1;}
}
.by{
 opacity: 0;
 position: relative;
 animation-duration: .5s;
 animation-delay: 6.5s;
 animation-name: by;
 animation-fill-mode: forwards;
 animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
}
@keyframes by{
 0%{opacity: 0;}
 50%{opacity: 0;}
 100%{opacity: 1;}
}
.p_two{
 padding-top: 20px;
 opacity: 0;
 position: relative;
 animation-duration: .5s;
 animation-delay: 7s;
 animation-name: p_two;
 animation-fill-mode: forwards;
 animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
}
@keyframes p_two{
 0%{opacity: 0;}
 50%{opacity: 0;}
 100%{opacity: 1;}
}
.submit{
 width: 120px;
 height: 40px;
 margin-top: 40px;
 border-radius: 5px;
 border: 3px solid #f4a896;
 background-color: #358597;
 color: white;
 font-size: larger;
 text-transform: capitalize;
 cursor: pointer;
}
.fill{
 width: 120px;
 height: 40px;
 margin-top: 40px;
 border-radius: 5px;
 border: 3px solid #f4a896;
 background-color: #358597;
 color: white;
 font-size: larger;
 text-transform: capitalize;
 cursor: pointer;
 opacity: 0;
 animation-name: btn;
 animation-duration: 2s;
 animation-fill-mode: forwards;
 animation-delay: 8s;
 animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
}
@keyframes btn {
 0%{opacity: 0;}
 100%{opacity: 1;}
}
button:hover{
 background-color: rgba(9, 83, 83, 0.7);
 transform: scale(1.1);
}
.brand{
 position: absolute;
}

.brand1{
 position: absolute;
 height: 189px;
 width: 3px;
 background-color: #f4a896;
 margin-left: 100px;
 margin-bottom: 0;
 position: relative;
 opacity: 0;
 animation-name: brand1;
 animation-duration: 2s;
 animation-delay: 2s;
 animation-fill-mode: forwards;
 animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
@keyframes brand1 {
 0%{opacity: 0; bottom:-200px;}
 100%{opacity: 1; bottom: 0px;}
}
.brand2{
 position: absolute;
 height: 89px;
 width: 3px;
 background-color: #f4a896;
 margin-left: 120px;
 margin-top: 100px;
 position: relative;
 opacity: 0;
 animation-name: brand2;
 animation-duration: 2s;
 animation-delay: 4s;
 animation-fill-mode: forwards;
 animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);               
}
@keyframes brand2 {
 0%{opacity: 0; bottom:-89px;}
 100%{opacity: 1; bottom: 190px;}
}
.brand3{                      
 position: absolute;
 height:50px;
 width: 50px;
 background-color: #f4a896;
 margin-left: 150px;
 border-radius: 50%;
 color: aliceblue;
 margin-bottom: 100px;
 font-size: xx-large;
 position: relative;
 opacity: 0;
 animation-name: brand3;
 animation-duration: 1s;
 animation-delay: 6s;
 animation-fill-mode: forwards;
 animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);    
}
@keyframes brand3 {
 0%{opacity: 0; bottom:-89px;}
 100%{opacity: 1; bottom: 350px;}
}
.brand4{
 position: absolute;
 height: 50px;
 width: 50px;
 background-color: #f4a896;
 margin-left: 210px;
 color: aliceblue;
 font-size: xx-large;
 opacity: 0;
 animation-name: brand4;
 animation-duration: 1s;
 animation-delay: 6s;
 animation-fill-mode: forwards;
 animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
@keyframes brand4 {
 0%{opacity: 0; bottom:-89px;}
 100%{opacity: 1; bottom: 110px;}
}
.quiz_container{
 padding-left: 500px;
 background-color: #f4a896;
}
.questin p{
 font-size: larger;
 padding-bottom: 20px;
}
header{
 text-align: center;
 font-size: xx-large;
 text-transform: capitalize;
 background-color: #358597;
 color: white;
 padding-top: 30px;
 padding-bottom: 30px;
}
h3{
 border-bottom: 1px solid #f4a896;
}
.choices{
 list-style: none;
padding: 20px; 

}
label{
padding-left: 20px;
margin-bottom: 20px;
}
.btn{
 margin-left: 500px;
}

.form{
 text-align: center;
 background-color: #358597;
}
.form input{
 margin-top: 30px;
 font-size: larger;
 border-radius: 6px;
 background-color: #358597;
}
.form h3{
 color: #f4a896;
 font-size: xx-large;
 text-transform: capitalize;
 margin: 20px 0;
 padding-bottom: 10px;
}
/*
@media screen and ( max-width: 898px) {
 .quiz_container{
  padding-left: 20px;
 }
}
















